/* GENERAL CSS STYLES */
html {
  margin: 0;
  padding: 0;
  min-width: 350px;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  scrollbar-width: auto;
  scrollbar-gutter: stable;
}

:root {
  --pastel-red: #ff5147;
  --pastel-green: #77dd77;
}

.theme-light {
  --general-color: #161618;
  --background-color: #ffffff;
  --item-background: #ffffff;
  --item-hover: #efefef;
  --item-outline: #efefef;
}

.theme-dark {
  --general-color: #ffffff;
  --background-color: #121212;
  --item-background: #212124;
  --item-hover: #2a2a2e;
  --item-outline: #2a2a2e;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.grid-item {
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 2.8px 2.8px 2.8px rgba(0, 0, 0, 0.1),
    6.7px 6.7px 6.7px rgba(0, 0, 0, 0.072),
    12.5px 12.5px 12.5px rgba(0, 0, 0, 0.06),
    22.3px 22.3px 22.3px rgba(0, 0, 0, 0.05),
    41.8px 41.8px 41.8px rgba(0, 0, 0, 0.04),
    100px 100px 100px rgba(0, 0, 0, 0.028);
}

.grid-item-title-center {
  padding: 1rem;
  color: var(--general-color);
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}

.grid-item-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--general-color);
}

.grid-item-text-center {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--general-color);
  text-align: justify;
  text-align-last: center;
}

/* INTRODUCTION GRID STYLES */
#introduction {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: auto;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 95% 1fr;
  gap: 0rem 0rem;
  grid-template-areas:
    "intro-title"
    "social-media";
  background-size: cover;
  /*
  background: linear-gradient(to bottom right, #000000 0%, #2c2b2c 100%);
  */
  background: #121212;
  background-size: 2.5rem 2.5rem;
  background-image: radial-gradient(
    circle,
    rgba(83, 69, 124, 0.5) 0.12rem,
    transparent 0
  );
  background-attachment: fixed;
}

#intro-title {
  grid-area: intro-title;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding: 5rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
}

/* SOCIAL MEDIA BAR STYLES */
#social-media-bar {
  grid-area: social-media;
}

#social-media-bar {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}

#social-media-bar a {
  font-size: 1.75rem;
  margin-left: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#social-media-bar a:hover {
  transition: 0.5s ease;
  color: #ff5147;
}

/* ABOUT GRID STYLES */
#about {
  width: 100%;
  padding: 0;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hire-status"
    "about-title"
    "about-text";
}

#about-title {
  grid-area: about-title;
}

#about-text {
  grid-area: about-text;
  width: 55%;
  margin: auto;
  line-height: 175%;
  font-size: 1.35rem;
}

/* HIRE STATUS NOTICE STYLES */
#hire-status {
  grid-area: hire-status;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.for-hire {
  outline: none;
  color: #ffffff;
  background-color: var(--pastel-red);
}

.not-for-hire {
  outline: none;
  color: #ffffff;
  background-color: var(--pastel-green);
}

/* SKILLS GRID STYLES */
#skills {
  width: 100%;
  min-height: 30vh;
  padding: 0;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "skills-title"
    "skills-wrapper";
}

#skills-title {
  grid-area: skills-title;
}

#skills-wrapper {
  grid-area: skills-wrapper;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem 1rem;
}

.skills-item {
  text-align: center;
  padding: 1rem;
  color: var(--general-color);
  background-color: var(--item-background);
  outline: var(--item-outline) 0.75px solid;
}

.skills-item:hover {
  transition: 0.35s ease-in;
  background-color: var(--item-hover);
}

.skills-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-image {
  width: 4.5rem;
}

.skills-item-tag {
  padding-top: 0.75rem;
}

/* PROJECTS GRID STYLES */
#projects {
  width: 100%;
  padding: 0;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "projects-title"
    "projects-wrapper";
}

#projects-title {
  grid-area: projects-title;
}

#projects-wrapper {
  grid-area: projects-wrapper;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1rem;
}

.projects-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 5px;
}

.projects-item-image > img {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  border-radius: 5px;
}

.projects-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: 0.5s ease-in;
  background-color: var(--pastel-red);
}

.projects-item:hover .projects-item-overlay {
  opacity: 1;
}

.projects-item-text {
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* TESTIMONIAL GRID STYLES */
#reviews {
  width: 100%;
  min-height: 30vh;
  padding: 0;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "reviews-title"
    "reviews-wrapper";
}

#reviews-title {
  grid-area: reviews-title;
}

#reviews-wrapper {
  grid-area: reviews-wrapper;
  width: 30%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem 1rem;
}

.reviews-item {
  text-align: center;
  color: var(--general-color);
  background-color: var(--item-background);
  outline: var(--item-outline) 0.75px solid;
}

.reviews-text {
  width: 83%;
  margin: auto;
  padding: 1.5rem;
  font-size: 1.1rem;
  text-align: justify;
  text-align-last: center;
}

.reviewer-name,
.reviewer-role,
.reviewer-flag {
  font-size: 0.9rem;
  text-align: right;
}

/* FOOTER SPECIFIC CSS STYLES */
footer {
  padding: 0.75rem;
  min-height: 7.5vh;
  text-align: center;
  color: #ffffff;
  border-top: solid 0.25rem var(--pastel-red);
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-item {
  padding: 0.1rem;
  font-size: 0.9rem;
}

.footer-item > a {
  color: #ffffff;
  font-size: 0.75rem;
  text-decoration: none;
}

@media (max-width: 1280px) {
  #intro-title {
    padding: 3rem;
    font-size: 2rem;
  }

  #about-text {
    width: 65%;
    margin: auto;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #hire-status {
    width: 75%;
  }

  #skills-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }

  #projects-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  #intro-title {
    padding: 3rem;
    font-size: 2rem;
  }

  #about-text {
    width: 75%;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #hire-status {
    width: 75%;
  }

  #skills-wrapper {
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
  }

  #projects-wrapper {
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }

  #reviews-wrapper {
    width: 50%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  #intro-title {
    padding: 3rem;
    font-size: 2rem;
  }

  #about-text {
    width: 70%;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #hire-status {
    width: 80%;
  }

  #skills-wrapper {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
  }

  #projects-wrapper {
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }

  #reviews-wrapper {
    width: 85%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px) {
  #intro-title {
    padding: 3rem;
    font-size: 2rem;
  }

  #about-text {
    width: 85%;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #hire-status {
    width: 75%;
  }

  #skills-wrapper {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }

  #projects-wrapper {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }

  #reviews-wrapper {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}
