{% extends "layout.html" %} 

{% block head %}
<title>A. Rehmat - Blog</title>
{% endblock %}


{% block content %}

<section id="introduction" style="height: 30vh">
  <div id="intro-title-center">Blog</div>

  <div id="social-media-bar" class="grid-item-content">
    <div class="social-media-item">
      <a onclick="toggleTheme()" class="uil uil-moon"></a>
    </div>

    <div class="social-media-item">
      <a
        class="uil uil-twitter-alt"
        href="https://twitter.com/ARehmat20"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>

    <div class="social-media-item">
      <a
        class="uil uil-linkedin"
        href="https://www.linkedin.com/in/abdullahrehmat/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>

    <div class="social-media-item">
      <a
        class="uil uil-github"
        href="https://github.com/AbdullahRehmat"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>

    <div class="social-media-item">
      <a
        class="uil uil-envelope-alt"
        href="mailto:rehmat.dev@gmail.com"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>
  </div>
</section>

<section id="articles-grid">
  {% for article in articles %}

  <div class="article-wrapper grid-item">
    <div class="article-title grid-item-title">{{ article.title }}</div>
    <div class="article-subtitle grid-item-subtitle">
      {{ article.subtitle }}
    </div>
    <div class="article-intro grid-item-text">
      {{ " ".join(strip_tags(article.html[3:]).split()[:100]) + "..."|safe }}
    </div>
    <div id="article-metadata" class="grid-item-text-meta">
      {{ article.author }} | {{ article.date }}
    </div>
  </div>

  {% endfor %}
</section>

{% endblock %}
