{% extends "layout.html" %} {% block head %}
<title>A. Rehmat - Blog</title>
{% endblock %} {% block content %}

<section id="banner" style="height: 45vh">
  <div id="banner-title-center">Blog</div>

  <div id="intro-bar" class="grid-item-content">
    <div class="intro-bar-item">
      <a onclick="toggleTheme()" class="uil uil-moon"></a>
    </div>
    <div class="intro-bar-item">
      <a class="uil uil-estate" href="/" rel="noopener noreferrer nofollow"></a>
    </div>

    <div class="intro-bar-item">
      <a
        class="uil uil-twitter-alt"
        href="https://twitter.com/ARehmat20"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>

    <div class="intro-bar-item">
      <a
        class="uil uil-linkedin"
        href="https://www.linkedin.com/in/abdullahrehmat/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>

    <div class="intro-bar-item">
      <a
        class="uil uil-github"
        href="https://github.com/AbdullahRehmat"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>

    <div class="intro-bar-item">
      <a
        class="uil uil-envelope-alt"
        href="mailto:rehmat.dev@gmail.com"
        target="_blank"
        rel="noopener noreferrer nofollow"
      ></a>
    </div>
  </div>
</section>

<section id="articles-grid">
  {% for article in articles %}

  <div class="articles-item article-wrapper grid-item">
    <a
      class="article-link"
      href="{{ url_for('article', name=article.path.replace('articles/', '')) }}"
    >
      <div class="article-title grid-item-title">{{ article.title }}</div>

      <div class="article-subtitle grid-item-subtitle">
        {{ article.subtitle }}
      </div>

      <div class="article-intro grid-item-text">
        {{ " ".join(strip_tags(article.html[3:]).split()[:100]) + "..."|safe }}
      </div>

      <div id="article-metadata" class="grid-item-text-meta">
        {{ article.author }} | {{ article.date }}
      </div>
    </a>
  </div>

  {% endfor %}
</section>

{% endblock %}
